<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Application Form</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Job Application Form</h1>
    <form method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {{ form.non_field_errors }}

        <!-- 1.LinkedIn Credentials -->
        <div class="mb-4">
            <h2>1. LinkedIn Information</h2>
            <div class="form-group">
                <label for="id_linkedin_email" data-bs-toggle="tooltip" title="Enter your LinkedIn email address.">
                    LinkedIn Email:
                </label>
                {{ form.email }}
            </div>




            <div class="form-group">
                <label for="id_linkedin_password_encrypted" data-bs-toggle="tooltip" 
                       title="Your LinkedIn password will be encrypted for security.">
                    LinkedIn Password:
                </label>
                {{ form.password }}
            </div>

       






            <div class="form-group">
                <label for="id_linkedin_password_confirm" data-bs-toggle="tooltip" 
                       title="Re-enter your LinkedIn password to confirm.">
                    Re-enter LinkedIn Password:
                </label>
                {{ form.linkedin_password_confirm }}
                {% if form.errors.linkedin_password_confirm %}
                    <div class="text-danger">
                        {{ form.errors.linkedin_password_confirm }}
                    </div>
                {% endif %}
            </div>
        </div>

        <!-- 2.Job Preferences -->
        <div class="mb-4">
            <h2>2. Job Preferences</h2>
            <div class="form-group">
                <label for="id_remote" data-bs-toggle="tooltip" title="Would you prefer remote jobs?">
                    Remote Jobs:
                </label>
                {{ form.remote }}
            </div>
            <div class="form-group">
                <label for="id_lessthanTenApplicants" data-bs-toggle="tooltip" 
                       title="Do you want jobs with fewer applicants?">
                    Jobs with Fewer Applicants:
                </label>
                {{ form.lessthanTenApplicants }}
            </div>
        </div>

        <!-- 3.Experience Level -->
        <div class="mb-4">
            <h2>3. Experience Level</h2>
            <div class="form-group">
                <label for="id_experienceLevel_internship" data-bs-toggle="tooltip" 
                       title="Select your Experience Internship.">
                    Experience Internship:
                </label>
                {{ form.experienceLevel_internship }}
            </div>
            <div class="form-group">
                <label for="id_experienceLevel_entry" data-bs-toggle="tooltip" 
                       title="Select your Experience Entry.">
                    Experience Entry:
                </label>
                {{ form.experienceLevel_entry }}
            </div>
            <div class="form-group">
                <label for="id_experienceLevel_associate" data-bs-toggle="tooltip" 
                       title="Select your Experience Associate.">
                    Experience Associate:
                </label>
                {{ form.experienceLevel_associate }}
            </div>
            <div class="form-group">
                <label for="id_experienceLevel_midsenior" data-bs-toggle="tooltip" 
                       title="Select your experience_director.">
                       experience_director:
                </label>
                {{ form.experienceLevel_midsenior }}
            </div>
            <div class="form-group">
                <label for="id_experienceLevel_director" data-bs-toggle="tooltip" 
                       title="Select your experience_executive.">
                    experienceLevel_director:
                </label>
                {{ form.experienceLevel_director }}
            </div>
            <div class="form-group">
                <label for="id_experienceLevel_executive" data-bs-toggle="tooltip" 
                       title="Select your experience_executive.">
                    experience_executive:
                </label>
                {{ form.experienceLevel_executive }}
            </div>


        </div>

        <!-- 4.Job Type -->
        <div class="mb-4">
            <h2>4. Job Type</h2>
            <div class="form-group">
                <label for="id_jobTypes_fulltime" data-bs-toggle="tooltip" 
                       title="Choose the type of job you're looking for (e.g., Full-time, Contract).">
                    jobTypes_fulltime:
                </label>
                {{ form.jobTypes_fulltime }}
            </div>
            <div class="form-group">
                <label for="id_jobTypes_contract" data-bs-toggle="tooltip" 
                       title="Choose the type of job you're looking for (e.g., Full-time, Contract).">
                       jobtype_contract:
                </label>
                {{ form.jobTypes_contract }}
            </div>
            <div class="form-group">
                <label for="id_jobTypes_parttime" data-bs-toggle="tooltip" 
                       title="Choose the type of job you're looking for (e.g., Full-time, Contract).">
                       jobtype_parttime:
                </label>
                {{ form.jobTypes_parttime }}
            </div>
            <div class="form-group">
                <label for="id_jobTypes_temporary" data-bs-toggle="tooltip" 
                       title="Choose the type of job you're looking for (e.g., Full-time, Contract).">
                       jobtype_temprory:
                </label>
                {{ form.jobTypes_temporary }}
            </div>
            <div class="form-group">
                <label for="id_jobtype_internship" data-bs-toggle="tooltip" 
                       title="Choose the type of job you're looking for (e.g., Full-time, Contract).">
                       jobtype_internship:
                </label>
                {{ form.jobTypes_internship }}
            </div>
            <div class="form-group">
                <label for="id_jobTypes_volunteer" data-bs-toggle="tooltip" 
                       title="Choose the type of job you're looking for (e.g., Full-time, Contract).">
                       jobtype_volunteer:
                </label>
                {{ form.jobTypes_volunteer }}
            </div>
        </div>

        <!-- 5.Job application Posting Date -->
        <div class="mb-4">
            <h2>5. Job Posting Date</h2>
            <div class="form-group">
                <label for="id_date" data-bs-toggle="tooltip" 
                       title="How recent should the Posting_Date?">
                       Posting_Date:
                </label>
                {{ form.date }}
            </div>
        </div>

        <!-- 6.Job Positions -->
        <div class="mb-4">
            <h2>6. Job Positions</h2>
            <div class="form-group">
                <label for="id_job_position_1" data-bs-toggle="tooltip" 
                       title="Add the titles of jobs you are looking for, e.g., Python Developer.">
                       job_position_1:
                </label>
                {{ form.job_positions_1 }}
            </div>
            <div class="form-group">
                <label for="id_job_position_2" data-bs-toggle="tooltip" 
                       title="Add the titles of jobs you are looking for, e.g., Python Developer.">
                       job_position_2:
                </label>
                {{ form.job_positions_2 }}
            </div>
            <div class="form-group">
                <label for="id_job_position_3" data-bs-toggle="tooltip" 
                       title="Add the titles of jobs you are looking for, e.g., Python Developer.">
                       job_position_3:
                </label>
                {{ form.job_positions_3 }}
            </div>
            <div class="form-group">
                <label for="id_job_position_4" data-bs-toggle="tooltip" 
                       title="Add the titles of jobs you are looking for, e.g., Python Developer.">
                       job_position_4:
                </label>
                {{ form.job_positions_4 }}
            </div>
            <div class="form-group">
                <label for="id_job_position_5" data-bs-toggle="tooltip" 
                       title="Add the titles of jobs you are looking for, e.g., Python Developer.">
                       job_position_5:
                </label>
                {{ form.job_positions_5 }}
            </div>
            <div class="form-group">
                <label for="id_job_position_6" data-bs-toggle="tooltip" 
                       title="Add the titles of jobs you are looking for, e.g., Python Developer.">
                       job_position_6:
                </label>
                {{ form.job_positions_6 }}
            </div>
        </div>

        <!-- 7.Job Locations -->
        <div class="mb-4">
            <h2>7. Job Locations</h2>
            <div class="form-group">
                <label for="id_job_location_1" data-bs-toggle="tooltip" 
                       title="Specify locations (e.g., countries, cities) where you want to work.">
                       job_location_1:
                </label>
                {{ form.job_locations_1 }}
            </div>
            <div class="form-group">
                <label for="id_job_location_1" data-bs-toggle="tooltip" 
                       title="Specify locations (e.g., countries, cities) where you want to work.">
                       job_location_2:
                </label>
                {{ form.job_locations_2 }}
            </div>
            <div class="form-group">
                <label for="id_job_location_1" data-bs-toggle="tooltip" 
                       title="Specify locations (e.g., countries, cities) where you want to work.">
                       job_location_3:
                </label>
                {{ form.job_locations_3 }}
                <div class="form-group">
                    <label for="id_job_location_1" data-bs-toggle="tooltip" 
                           title="Specify locations (e.g., countries, cities) where you want to work.">
                           job_location_4:
                    </label>
                    {{ form.job_locations_4 }}
                </div>
                <div class="form-group">
                    <label for="id_job_location_1" data-bs-toggle="tooltip" 
                           title="Specify locations (e.g., countries, cities) where you want to work.">
                           job_location_5:
                    </label>
                    {{ form.job_locations_5 }}
                </div>
                <div class="form-group">
                    <label for="id_job_location_1" data-bs-toggle="tooltip" 
                           title="Specify locations (e.g., countries, cities) where you want to work.">
                           job_location_6:
                    </label>
                    {{ form.job_locations_6 }}
                </div>
            </div>
        </div>

        <!-- 8.Additional Information -->
        <div class="mb-4">
            <h2>8. Additional Information</h2>
            <div class="form-group">
                <label for="id_residentStatus" data-bs-toggle="tooltip" 
                       title="Indicate your residency status.">
                       resident_status:
                </label>
                {{ form.residentStatus }}
            </div>
            <div class="form-group">
                <label for="id_distance" data-bs-toggle="tooltip" 
                       title="Select how far you're willing to travel for a job.">
                       distance_from_job_location:
                </label>
                {{ form.distance }}
            </div>
        </div>

        <!-- 9.provide the following additional information -->
        <div class="mb-4">
            <h2>9. Upload Documents</h2>
            <div class="form-group">
                <label for="id_uploads_resume" data-bs-toggle="tooltip" 
                       title="Upload your resume in PDF or DOCX format.">
                    Resume:
                </label>
                {{ form.uploads_resume }}
            </div>
            <div class="form-group">
                <label for="id_uploads_coverLetter" data-bs-toggle="tooltip" 
                       title="Upload your cover letter (optional).">
                    Cover Letter:
                </label>
                {{ form.uploads_coverLetter }}
            </div>
        </div>

        <!-- 10.answer the following questions -->
        <div class="mb-4">
            <h2>10. Personal Information</h2>
            <div class="form-group">
                <label for="id_checkboxes_driversLicence" data-bs-toggle="tooltip" 
                       title="Select your has_driver_license.">
                       has_driver_license*:
                </label>
                {{ form.checkboxes_driversLicence }}
            </div>
            <div class="form-group">
                <label for="id_checkboxes_requireVisa" data-bs-toggle="tooltip" 
                       title="Enter your requires_sponsorship.">
                       requires_sponsorship:
                </label>
                {{ form.checkboxes_requireVisa }}
            </div>
            <div class="form-group">
                <label for="id_checkboxes_legallyAuthorized" data-bs-toggle="tooltip" 
                       title="Enter your authorized_to_work.">
                       authorized_to_work:
                </label>
                {{ form.checkboxes_legallyAuthorized }}
            </div>
            <div class="form-group">
                <label for="id_checkboxes_certifiedProfessional" data-bs-toggle="tooltip" 
                       title="Enter your necessary_licenses">
                       necessary_licenses:
                </label>
                {{ form.checkboxes_certifiedProfessional }}
            </div>
            <div class="form-group">
                <label for="id_checkboxes_commute" data-bs-toggle="tooltip" 
                       title="Provide the URL to your comfortable_with_commuting.">
                       comfortable_with_commuting:
                </label>
                {{ form.checkboxes_commute }}
            </div>
            <div class="form-group">
                <label for="id_checkboxes_remote" data-bs-toggle="tooltip" 
                       title="Provide the URL to your comfortable_with_remote_work.">
                       checkboxes_remote:
                </label>
                {{ form.checkboxes_remote }}
            </div>
            <div class="form-group">
                <label for="id_checkboxes_drugTest" data-bs-toggle="tooltip" 
                       title="Provide the URL to your drug_test.">
                       drug_test:
                </label>
                {{ form.checkboxes_drugTest }}
            </div>
            <div class="form-group">
                <label for="id_checkboxes_assessment" data-bs-toggle="tooltip" 
                       title="Provide the URL to your complete_an_assessment.">
                       checkboxes_assessment:
                </label>
                {{ form.checkboxes_assessment }}
            </div>
            <div class="form-group">
                <label for="id_checkboxes_securityClearance" data-bs-toggle="tooltip" 
                       title="Provide the URL to your security_clearance.">
                       security_clearance:
                </label>
                {{ form.checkboxes_securityClearance }}
            </div>
            <div class="form-group">
                <label for="id_checkboxes_completed_Degree" data-bs-toggle="tooltip" 
                       title="Provide the URL to your completed_Degree.">
                       start_completed_Degree:
                </label>
                {{ form.checkboxes_completed_Degree }}
            </div>
            <div class="form-group">
                <label for="id_completed_Degree" data-bs-toggle="tooltip" 
                       title="Provide the URL to your background_check.">
                       checkboxes_backgroundCheck:
                </label>
                {{ form.checkboxes_backgroundCheck }}
            </div>


        </div>
        
        <!-- 11.provide the following information -->
        <div class="mb-4">
            <h2>11.provide the following information</h2>
            <div class="form-group">
                <label for="id_universityGpa" data-bs-toggle="tooltip" 
                       title="Indicate your University_gpa.">
                       University_gpa:
                </label>
                {{ form.universityGpa }}
            </div>
            <div class="form-group">
                <label for="id_salaryMinimum" data-bs-toggle="tooltip" 
                       title="Minimum_Salary_Expectation">
                       Minimum_Salary_Expectation:
                </label>
                {{ form.salaryMinimum }}
            </div>
            <div class="form-group">
                <label for="id_language_1" data-bs-toggle="tooltip" 
                       title="language_1">
                       language_1:
                </label>
                {{ form.languages_1 }}
            </div>
            <div class="form-group">
                <label for="id_language_2" data-bs-toggle="tooltip" 
                       title="language_2">
                       language_2:
                </label>
                {{ form.languages_2 }}
            </div>
            <div class="form-group">
                <label for="id_language_3" data-bs-toggle="tooltip" 
                       title="language_3">
                       language_3:
                </label>
                {{ form.languages_3 }}
            </div>
            <div class="form-group">
                <label for="id_noticePeriod" data-bs-toggle="tooltip" 
                       title="Notice_Period">
                       Notice_Period:
                </label>
                {{ form.noticePeriod }}
            </div>
            
            <div class="form-group">
                <label for="id_Years_of_Experienc" data-bs-toggle="tooltip" 
                       title="Years_of_Experience_1">
                       Years_of_Experience_1:
                </label>
                {{ form.experience_Experience1 }}
            </div>
            <div class="form-group">
                <label for="id_experience_Experience2" data-bs-toggle="tooltip" 
                       title="Years_of_Experience_2">
                       Years_of_Experience_2:
                </label>
                {{ form.experience_Experience2 }}
            </div>
            <div class="form-group">
                <label for="id_experience_Experience3" data-bs-toggle="tooltip" 
                       title="Years_of_Experience_3">
                       Years_of_Experience_3:
                </label>
                {{ form.experience_Experience3 }}
            </div>
            <div class="form-group">
                <label for="id_experience_Experience4" data-bs-toggle="tooltip" 
                       title="Years_of_Experience_4">
                       Years_of_Experience_4:
                </label>
                {{ form.experience_Experience4 }}
            </div>
            <div class="form-group">
                <label for="id_experience_Experience5" data-bs-toggle="tooltip" 
                       title="Years_of_Experience_5">
                       Years_of_Experience_5:
                </label>
                {{ form.experience_Experience5 }}
            </div>
            <div class="form-group">
                <label for="id_experience_Experience6" data-bs-toggle="tooltip" 
                       title="Years_of_Experience_6">
                       Years_of_Experience_6:
                </label>
                {{ form.experience_Experience6 }}
            </div>
            <div class="form-group">
                <label for="id_experience_Experience7" data-bs-toggle="tooltip" 
                       title="Years_of_Experience_7">
                       Years_of_Experience_7:
                </label>
                {{ form.experience_Experience7 }}
            </div>
            <div class="form-group">
                <label for="id_experience_Experience8" data-bs-toggle="tooltip" 
                       title="Years_of_Experience_8">
                       Years_of_Experience_8:
                </label>
                {{ form.experience_Experience8 }}
            </div>
            <div class="form-group">
                <label for="id_Years_of_Experienc_9" data-bs-toggle="tooltip" 
                       title="Years_of_Experience_9">
                       Years_of_Experience_9:
                </label>
                {{ form.experience_Experience9 }}
            </div>
            <div class="form-group">
                <label for="id_experience_Experience10" data-bs-toggle="tooltip" 
                       title="Years_of_Experience_10">
                       Years_of_Experience_10:
                </label>
                {{ form.experience_Experience10 }}
            </div>

            
            
        </div>

        <!-- 12.Personal Information -->
        <div class="mb-4">
            <h2>12.Personal Information</h2>
            <div class="form-group">
                <label for="id_personalInfo_Pronouns" data-bs-toggle="tooltip" 
                        title="pronouns">
                        pronouns:
                </label>
                {{ form.personalInfo_Pronouns }}
            </div>
            <div class="form-group">
                <label for="id_personalInfo_FirstName" data-bs-toggle="tooltip" 
                        title="first_Name">
                        first_Name:
                </label>
                {{ form.personalInfo_FirstName }}
            </div>
            <div class="form-group">
                <label for="id_personalInfo_lastName" data-bs-toggle="tooltip" 
                        title="last_Name">
                        last_Name:
                </label>
                {{ form.personalInfo_lastName }}
            </div>
            <div class="form-group">
                <label for="id_personalInfo_PhoneCountryCode" data-bs-toggle="tooltip" 
                        title="phone_country_code">
                        personalInfo_PhoneCountryCode:
                </label>
                {{ form.personalInfo_PhoneCountryCode }}
            </div>
            <div class="form-group">
                <label for="id_personalInfo_MobilePhoneNumber" data-bs-toggle="tooltip" 
                        title="phone_number">
                        personalInfo_MobilePhoneNumber:
                </label>
                {{ form.personalInfo_MobilePhoneNumber }}
            </div>
            <div class="form-group">
                <label for="id_personalInfo_Streetaddress" data-bs-toggle="tooltip" 
                        title="personalInfo_Streetaddress">
                        street_address:
                </label>
                {{ form.personalInfo_Streetaddress }}
            </div>
            <div class="form-group">
                <label for="id_personalInfo_City" data-bs-toggle="tooltip" 
                        title="personalInfo_City">
                        city:
                </label>
                {{ form.personalInfo_City }}
            </div>
            <div class="form-group">
                <label for="id_personalInfo_State" data-bs-toggle="tooltip" 
                        title="state">
                        state:
                </label>
                {{ form.personalInfo_State }}
            </div>
            <div class="form-group">
                <label for="id_personalInfo_Zip" data-bs-toggle="tooltip" 
                        title="zip_code">
                        zip_code:
                </label>
                {{ form.personalInfo_Zip }}
            </div>
            <div class="form-group">
                <label for="id_personalInfo_Linkedin" data-bs-toggle="tooltip" 
                        title="Linkedin_Profile">
                        Linkedin_Profile:
                </label>
                {{ form.personalInfo_Linkedin }}
            </div>
            <div class="form-group">
                <label for="id_personalInfo_Website" data-bs-toggle="tooltip" 
                        title="website">
                        website:
                </label>
                {{ form.personalInfo_Website }}
            </div>
            <div class="form-group">
                <label for="id_personalInfo_MessageToManager" data-bs-toggle="tooltip" 
                        title="message_to_hire">
                        message_to_hire:
                </label>
                {{ form.personalInfo_MessageToManager }}
            </div>
        </div>

        <!-- 13. provide the following information (for US-based jobs) -->
        <div class="mb-4">
            <h2>13. provide the following information (for US-based jobs)</h2>
            <div class="form-group">
                <label for="id_eeo_gender" data-bs-toggle="tooltip" 
                       title=" pronouns_us">
                       pronouns_us:
                </label>
                {{ form.eeo_gender }}
            </div>
            <div class="form-group">
                <label for="id_eeo_race" data-bs-toggle="tooltip" 
                       title="race">
                       race:
                </label>
                {{ form.eeo_race }}
            </div><div class="form-group">
                <label for="id_eeo_veteran" data-bs-toggle="tooltip" 
                       title=" veteran_status">
                       veteran_status:
                </label>
                {{ form.eeo_veteran }}
            </div><div class="form-group">
                <label for="id_eeo_disability" data-bs-toggle="tooltip" 
                       title="disability_status">
                       eeo_disability:
                </label>
                {{ form.eeo_disability }}
            </div><div class="form-group">
                <label for="id_eeo_citizenship" data-bs-toggle="tooltip" 
                       title="citizenship">
                       citizenship:
                </label>
                {{ form.eeo_citizenship }}
            </div>
            <div class="form-group">
                <label for="id_eeo_clearance" data-bs-toggle="tooltip" 
                       title="security_clearance_us">
                       security_clearance_us:
                </label>
                {{ form.eeo_clearance }}
            </div>
        </div>
        
        

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Submit Application</button>
    </form>
</div>

<!-- Include Bootstrap JS for Tooltips -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    // Initialize tooltips
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
</body>
</html>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const errors = document.querySelectorAll('.error');
        if (errors.length > 0) {
            errors[0].scrollIntoView({ behavior: 'smooth', block: 'center' });
        }
    });
</script>